
.project-page {
    height: 50rem;
}

.project-page__content {
    align-items: center;
    padding-left: 18rem;
}

.project-page__panel {

}

.project-page-new-project-button {
    width: 94px;
    height: 30px;
    cursor: pointer;
    object-fit: contain;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #021e2b;
    border-radius: 52px;
    border: solid 1px #478792;
    outline: none;
}