.App-header {
    background-color: #282c34;
    display: flex;
    padding-left: 1rem;
    justify-content: flex-start;
    font-size: 1rem;
    color: white;
}

.App-header {
    .h3 {
        cursor: pointer;
    }
}